{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <table class="table table-success table-striped mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for subCategory in subCategories %}

            <tr>
                <th scope="row">{{ subCategory.id }}</th>
                <td>{{  subCategory.title }}</td>
                <td><a href="{{ path('editSubCategory', {'id': subCategory.id}) }}" class="btn btn-info">Modifier</a>
                    <a href="{{ path('deleteSubCategory', {'id': subCategory.id }) }}" onclick="return confirm('Êtes-vous sûr?')" class="btn btn-danger">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

